/* App.js */
main {
  min-height: 80vh;
}

.btn-outline-success{
  border-color: #3f72af !important;
  color: #3f72af !important;
}

.btn-outline-success:hover{
  color: #fff !important;
  background-color: #3f72af !important;
}

.btn-outline-success:focus{
  box-shadow: 0 0 0 0.2rem #e5e1da !important;
}

/* Product.js */
h3 {
  padding: 1rem 0;
}

.img-fluid.rounded{
  height: 200px !important;
  width: 100px !important;

}

.card-img{
  border-radius: 15px !important;
  height: 300px !important;
  width: 220px !important;
}

.col-xl-3 col-lg-4 col-md-6 col-sm-12{
  border-radius: 15px !important;
  padding: 20px       !important;
  background-color: #f8f9fa!important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
  height: 500px !important;
  width: 320px !important;
}

/* Rating.js */
.rating span {
  margin: 0.1rem;
}

/* CartScreen.js */
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

/* HomeScreen.js (Carousel) */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}

.carousel-caption {
  position: absolute;
  top: 0;
  color: white;
}

.carousel-caption h4 {
  color: #fff;
}

.carousel img {
  display: block;
  height: 300px;
  padding: 30px;
  margin: 40px;
  margin-top: 50px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.carousel a {
  margin: 0 auto;
}

.carousel-item{
  /* background-color: #e5e1da; */
  background-color: #A5BFCC;
}

@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
    color: white;
  }
}
